In [21]:
import numpy as np
import pandas as pd

In [22]:
#by using list
dr_data=[['D101','Dr.Anil kumar','Cardiologist',12],['D102','Dr.Priya singh','dermatologist',8],['D103','Dr.Ramesh','Neurologist',15],['D104','Dr.Niranjan Kumar','pediatrician',6],['D105','Dr.Suresh rao','Orthopedic',10]]
df=pd.DataFrame(dr_data)
df

      0                  1              2   3
0  D101      Dr.Anil kumar   Cardiologist  12
1  D102     Dr.Priya singh  dermatologist   8
2  D103          Dr.Ramesh    Neurologist  15
3  D104  Dr.Niranjan Kumar   pediatrician   6
4  D105      Dr.Suresh rao     Orthopedic  10

In [23]:
col_names=['Doctor ID','Name','Specialization','Experience(Years)']
df=pd.DataFrame(dr_data,columns=col_names)
df

  Doctor ID               Name Specialization  Experience(Years)
0      D101      Dr.Anil kumar   Cardiologist                 12
1      D102     Dr.Priya singh  dermatologist                  8
2      D103          Dr.Ramesh    Neurologist                 15
3      D104  Dr.Niranjan Kumar   pediatrician                  6
4      D105      Dr.Suresh rao     Orthopedic                 10

In [24]:
df=df.set_index('Doctor ID')
df

                        Name Specialization  Experience(Years)
Doctor ID
D101           Dr.Anil kumar   Cardiologist                 12
D102          Dr.Priya singh  dermatologist                  8
D103               Dr.Ramesh    Neurologist                 15
D104       Dr.Niranjan Kumar   pediatrician                  6
D105           Dr.Suresh rao     Orthopedic                 10

In [35]:
#by using dictonary
dr_data={
    'Doctor ID':['D101','D102','D103','D104','D105'],
    'Name':['Dr.Anil kumar','Dr.Priya singh','Dr.Ramesh','Dr.Niranjan Kumar','Dr.Suresh rao'],
    'Specialization':['Cardiologist','Cardiologist','Neurologist','pediatrician','Orthopedic'],
    'Experience(Years)':[12,8,15,6,10]
} 
df=pd.DataFrame(dr_data)
df

  Doctor ID               Name Specialization  Experience(Years)
0      D101      Dr.Anil kumar   Cardiologist                 12
1      D102     Dr.Priya singh   Cardiologist                  8
2      D103          Dr.Ramesh    Neurologist                 15
3      D104  Dr.Niranjan Kumar   pediatrician                  6
4      D105      Dr.Suresh rao     Orthopedic                 10

In [39]:
df=df.set_index('Doctor ID')
df

                        Name Specialization  Experience(Years)
Doctor ID
D101           Dr.Anil kumar   Cardiologist                 12
D102          Dr.Priya singh   Cardiologist                  8
D103               Dr.Ramesh    Neurologist                 15
D104       Dr.Niranjan Kumar   pediatrician                  6
D105           Dr.Suresh rao     Orthopedic                 10